/*   LAYOUT
 **************/



html {
	height: 100%;
}

.wrapper {
    max-width: 940px;
    margin: 0 10%;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main,
.sidebar {
    float: left;
}

#main {
    width: 74%;
}

.sidebar {
    width: 23%;
    margin-left: 2%;
}





