/*     VARIABLES
 *******************/



/* Colors */

// Descriptive color variables 

$blue: 				#328fc2;
$med-blue:		#006899;
$dark-blue: 	#1c264a;
$purple: 			#650360;
$light-grey:	#f5f5f5;
$med-grey:		#cccccc;
$grey: 				#505050;
$green:				#bbd8c4;
$light-green: #eef5f0;
$white:				#fff;

// Functional color variables

$link               : $blue;
$hover              : $green;
$text               : $grey;



/* Fonts */

$stack-san-serif: 'Arimo', sans-serif;



/* Font Size */

$xsmall:  12px;
$small:   14px;
$medium:  16px;
$large:   28px;
$xlarge:  36px;




