/*   MAIN 
 ************/

#main,
.sidebar {
	float: left;
}

#main {
	width: 74%;
}

.sidebar {
	width: 23%;
	margin-left: 2%;
}

.content {
	margin-top: 65px;
}

.intro {

	&__text {
		margin: 30px 0 25px;

		a {
			text-decoration: underline;
		}

	}

	&__list {
		list-style: initial;
		margin: 10px 15px 32px;
	}

	li {
		margin: 4px 0;
	}

}

.card {
	background-color: $green;
	padding: 12px;
	position: relative;

	h3 {
		color: $purple;
		margin: 4px;
	}

	p {
		margin: 4px;
		max-width: 530px;
	}

	&__image {
		bottom: -16px;
		height: 176px;
		position: absolute;
		right: 30px;
		width: 104px;

	}
}

.rates {
	margin: 45px 0 75px;

	h2 {

		span {
			border-left: $grey 1px solid;
			display: inline-block;
			margin: 6px 14px;
			padding: 6px 12px;
		}

	}

	&__header {
		display: flex;
		font-size: $xsmall;
		justify-content: space-between;
		margin-left: 46%;
		text-align: right;
		width: 54%;
	}

	.note {
		font-size: $xsmall;
		text-align: right;
	}
}

.login {
	background-color: $purple;
	color: $white;
	font-weight: 700;
	padding: 8px;
	width: 100%;
}

