/*   MAIN 
 ************/



/* Intro Styles */

.content {
	margin-top: 60px;
}

.intro {

	&__text {
		margin: 30px 0 25px;

		a {
			text-decoration: underline;
		}

	}

	&__list {
		list-style: initial;
		margin: 10px 15px 32px;
	}

	li {
		margin: 4px 0;
	}

}

.card {
	background-color: $green;
	padding: 12px;
	position: relative;

	h3 {
		color: $purple;
		margin: 4px;
	}

	p {
		margin: 4px;
		max-width: 530px;
	}

	&__image {
		bottom: -16px;
		height: 176px;
		position: absolute;
		right: 30px;
		width: 104px;

	}
}



/* Rates Styles */

.rates {
	margin: 45px 0 75px;

	h2 {

		span {
			border-left: $grey 1px solid;
			display: inline-block;
			margin: 6px 14px;
			padding: 6px 12px;
		}

	}

	&__header {
		display: flex;
		font-size: $xsmall;
		justify-content: space-between;
		margin-left: 46%;
		text-align: right;
		width: 54%;
	}

	&__list {
		display: flex;
		flex-direction: column;			

		li {
			display: flex;
			justify-content: space-between;
			padding: 10px;
		}

		li:nth-child(odd) {
			background-color: $light-green;
		}

		li:nth-child(even) {
			background-color: $green;
		}

		li:nth-child(1) {
			p {
				font-weight: 700;
			}
		}

		p {
			width: 33%;
			text-align: right;
		}

		p:first-child {
			text-align: left;
		}
	}

	.note {
		font-size: $xsmall;
		text-align: right;
	}
}



/* Sidebar Styles */

.login {
	background-color: $purple;
	color: $white;
	font-weight: 700;
	padding: 8px;
	width: 100%;
}

.sidebar {
	
	&__content {
		margin-top: 20px;
		position: relative;
	}

	&__buttons {
		display: flex;
		align-items: flex-end;
	}
	
	&__button {
		background-color: $green;
		border-top: $med-grey 1px solid;
		border-right: $med-grey 1px solid;
		border-bottom: $med-grey 1px solid;
		color: $blue;
		padding: 12px;
		position: relative;
		z-index: 10;

		&:hover {
			color: $white;
		}
	}

	&__button.active {
		background-color: $light-grey;
		border-bottom: none;
		color: $grey;
		padding-top: 16px;
	}

	&__section {
		background-color: $light-grey;
		border-top: $med-grey 1px solid;
		display: none;
		left: 0;
		padding: 25px 12px;
		position: absolute;
		top: 43px;
		width: 100%;
		z-index: 1;
	}

	&__section.active {
		display: block;
	}

	&__entry {
		margin-bottom: 20px;
	}

	h4 {
		color: $blue;
		margin: 8px 0;
	}

}



/* Login Modal */

.login-modal {
	background-color: $white;
	border: $grey 1px solid;
	top: 140px;
	left: 30%;
	padding: 25px;
	position: fixed;
	width: 40%;
	z-index: 1000;

	h3 {
		margin-bottom: 20px;
	}

	.login {
		width: 50%;
		margin-left: 50%;
	}

	.exit-button {
		background: none;
		color: $grey;
		font-size: $medium;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1001;
	}
}

.login-wrapper {
	position: relative;
}

.input-wrapper {
	display: flex;
	justify-content: space-between;
	margin: 1em 0;
	width: 100%;

	input {
		outline: $grey 1px solid;
		padding: 4px;
		width: 60%;
	}
}
